<a href="https://colab.research.google.com/github/VIVEKsINGH8509/DATA_ANALYTICS/blob/main/DAY_3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(101)

mydata = np.random.randint(0,101,(4,3))
print(mydata)       # this is just a numpu array

[[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

In [5]:
myindex = ['CA', 'NY', 'AZ', 'TX']
mycolumns = ['Jan', 'Feb', 'Mar']

In [6]:
df = pd.DataFrame(data = mydata)
print(df)                 #this is only index

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [9]:
df = pd.DataFrame(data = mydata, index = myindex)
print(df)               #this is labelled index and column

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [10]:
df = pd.DataFrame(data = mydata, index = myindex, columns = mycolumns)
print(df)

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes
None

# **<H1>WORKING WITH tips.csv</H1>**

In [79]:
# create a
df = pd.read_csv('/content/tips.csv')
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [80]:
print(df.columns) #column name

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [81]:
print(df.index)    #index

RangeIndex(start=0, stop=244, step=1)

In [82]:
print(df.head(3))          #first three rows

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458

In [83]:
print(df.tail(3))         #last three rows

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672

In [84]:
df.info()       #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB

In [85]:
print(len(df))

244

In [86]:
print(df.describe())

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563495e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040732e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525320e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596450e+15

In [87]:
print(df.describe().transpose())

                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

In [88]:
#Select a single column
df['total_bill']  #OR print(df.total_bill)

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [89]:
#Select multiple columns
#Note how its a python list of column names! thus the double brackets
df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [90]:
#Create new columns
df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,14.680765

In [91]:
df['price_per_person'] = df['total_bill'] / df['size']
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.495000,Christy Cunningham,3.560330e+15,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,Douglas Tucker,4.478070e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,Travis Walters,6.011810e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,Nathaniel Harris,4.676140e+15,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.147500,Tonya Carter,4.832730e+15,Sun2251,14.680765

In [92]:
#Adjust Existing columns
df['price_per_person'] = np.round(df['price_per_person'],2)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,14.680765

In [93]:
#Remove columns
df = df.drop('tip_percentage', axis = 1)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251

In [37]:
print(df.index)

RangeIndex(start=0, stop=244, step=1)

In [94]:
df = df.set_index('Payment ID')
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15

In [95]:
df = df.reset_index()   #Set it to default int values
df.head()

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15

In [100]:
#Conditions

# print(df['total_bill'] < 30) #True/ False
# bool_series = df['total_bill'] > 30
# print(df[bool_series]) #Actual results, applying the true/false conditions

print(df[df['total_bill'] > 30])

    Payment ID  total_bill    tip  gender smoker   day    time  size  \
11     Sun6686       35.26   5.00  Female     No   Sun  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
39     Sat6373       31.27   5.00    Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60    Male     No   Sun  Dinner     4
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
52     Sun6165       34.81   5.20  Female     No   Sun  Dinner     4
56     Sat8903       38.01   3.00    Male    Yes   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00    Male    Yes  Thur   Lunch     2
85    Thur7972       34.83   5.17  Female     No  Thur   Lunch     4
95     Fri9628       40.17   4.73    Male    Yes   Fri  Dinner     4
102    Sat6240       44.30   2.50  Female    Yes   Sat  Dinner     3
112     Sun591       38.07   4.00    Male     No   Sun  Dinner     3
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00    Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00    Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50    Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
173    Sun9335       31.85   3.18    Male    Yes   Sun  Dinner     2
175    Sun5109       32.90   3.11    Male    Yes   Sun  Dinner     2
179    Sun9851       34.63   3.55    Male    Yes   Sun  Dinner     2
180    Sun7544       34.65   3.68    Male    Yes   Sun  Dinner     4
182    Sun2337       45.35   3.50    Male    Yes   Sun  Dinner     3
184    Sun5140       40.55   3.00    Male    Yes   Sun  Dinner     2
187    Sun9987       30.46   2.00    Male    Yes   Sun  Dinner     5
197   Thur9313       43.11   5.00  Female    Yes  Thur   Lunch     4
207    Sat4505       38.73   3.00    Male    Yes   Sat  Dinner     4
210    Sat8361       30.06   2.00    Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
219    Sat8863       30.14   3.09  Female    Yes   Sat  Dinner     4
237    Sat2929       32.83   1.17    Male    Yes   Sat  Dinner     2
238    Sat9777       35.83   4.67  Female     No   Sat  Dinner     3

     price_per_person             Payer Name     CC Number
11               8.82           Diane Macias  4.577820e+15
23               9.86         Lance Peterson  3.542580e+15
39              10.42      Mr. Brandon Berry  6.011530e+15
44               7.60            Todd Cooper  5.038470e+11
47               8.10           James Barnes  3.552000e+15
52               8.70           Emily Daniel  4.291280e+15
56               9.50  James Christensen DDS  3.497940e+14
59              12.07            Brian Ortiz  6.596450e+15
83              16.34          Daniel Murphy  5.356180e+15
85               8.71            Shawna Cook  6.011790e+15
95              10.04          Aaron Bentley  1.800270e+14
102             14.77          Heather Cohen  3.797710e+14
112             12.69             Jeff Lopez  3.572870e+15
141              5.72         Steven Carlson  3.526520e+15
142              8.24           Eric Andrews  4.356530e+15
156              8.03          Ryan Gonzales  3.523150e+15
167              7.93         Michael Lawson  3.566290e+15
170             16.94          Gregory Clark  5.473850e+15
173             15.92            Scott Perez  3.577120e+15
175             16.45        Nathan Reynolds  3.703070e+14
179             17.32           Brian Bailey  3.466560e+14
180              8.66       James Hebert DDS  6.761690e+11
182             15.12           Jose Parsons  4.112210e+15
184             20.27            Stephen Cox  3.547800e+15
187              6.09          David Barrett  4.792880e+15
197             10.78            Brooke Soto  5.544900e+15
207              9.68          Ricky Ramirez  3.478180e+14
210             10.02          Shawn Mendoza  3.018400e+13
212             12.08        Alex Williamson  6.762190e+11
219              7.54           Shelby House  5.020970e+11
237             16.42           Thomas Brown  4.284720e+15
238             11.94         Kimberly Crane  6.761840e+11

In [101]:
#Another Sytax
df[df['gender'] == 'Male']

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15
5,Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,2.131400e+14
6,Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.223730e+15
...,...,...,...,...,...,...,...,...,...,...,...
236,Sat5032,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3.543680e+15
237,Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.284720e+15
239,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15
241,Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15
242,Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12

In [103]:
#Multiple conditions
df_new = df[(df['total_bill'] > 30) & (df['gender'] == 'Male')]
df_new

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
23,Sat239,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3.542580e+15
39,Sat6373,31.27,5.00,Male,No,Sat,Dinner,3,10.42,Mr. Brandon Berry,6.011530e+15
44,Sun2274,30.40,5.60,Male,No,Sun,Dinner,4,7.60,Todd Cooper,5.038470e+11
47,Sun9677,32.40,6.00,Male,No,Sun,Dinner,4,8.10,James Barnes,3.552000e+15
56,Sat8903,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,3.497940e+14
59,Sat8139,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.596450e+15
83,Thur8801,32.68,5.00,Male,Yes,Thur,Lunch,2,16.34,Daniel Murphy,5.356180e+15
95,Fri9628,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,1.800270e+14
112,Sun591,38.07,4.00,Male,No,Sun,Dinner,3,12.69,Jeff Lopez,3.572870e+15
141,Thur1025,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3.526520e+15
142,Thur3621,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4.356530e+15
156,Sun7518,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3.523150e+15
167,Sun3719,31.71,4.50,Male,No,Sun,Dinner,4,7.93,Michael Lawson,3.566290e+15
170,Sat1954,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.473850e+15
173,Sun9335,31.85,3.18,Male,Yes,Sun,Dinner,2,15.92,Scott Perez,3.577120e+15
175,Sun5109,32.90,3.11,Male,Yes,Sun,Dinner,2,16.45,Nathan Reynolds,3.703070e+14
179,Sun9851,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,Brian Bailey,3.466560e+14
180,Sun7544,34.65,3.68,Male,Yes,Sun,Dinner,4,8.66,James Hebert DDS,6.761690e+11
182,Sun2337,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4.112210e+15
184,Sun5140,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3.547800e+15
187,Sun9987,30.46,2.00,Male,Yes,Sun,Dinner,5,6.09,David Barrett,4.792880e+15
207,Sat4505,38.73,3.00,Male,Yes,Sat,Dinner,4,9.68,Ricky Ramirez,3.478180e+14
210,Sat8361,30.06,2.00,Male,Yes,Sat,Dinner,3,10.02,Shawn Mendoza,3.018400e+13
212,Sat4590,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.762190e+11
237,Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.284720e+15

In [104]:
df_new = df[(df['total_bill'] > 30) & ~(df['gender'] == 'Male')]
df_new

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
11,Sun6686,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.577820e+15
52,Sun6165,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4.291280e+15
85,Thur7972,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15
102,Sat6240,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,3.797710e+14
197,Thur9313,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5.544900e+15
219,Sat8863,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,Shelby House,5.020970e+11
238,Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11

In [105]:
df_new = df[(df['total_bill'] > 30) & (df['gender'] != 'Male')]
df_new

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
11,Sun6686,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.577820e+15
52,Sun6165,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4.291280e+15
85,Thur7972,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15
102,Sat6240,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,3.797710e+14
197,Thur9313,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5.544900e+15
219,Sat8863,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,Shelby House,5.020970e+11
238,Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11

In [106]:
df_new = df[(df['total_bill'] > 30) | (df['tip'] > 5)]
df_new

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
11,Sun6686,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.577820e+15
23,Sat239,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3.542580e+15
39,Sat6373,31.27,5.00,Male,No,Sat,Dinner,3,10.42,Mr. Brandon Berry,6.011530e+15
44,Sun2274,30.40,5.60,Male,No,Sun,Dinner,4,7.60,Todd Cooper,5.038470e+11
47,Sun9677,32.40,6.00,Male,No,Sun,Dinner,4,8.10,James Barnes,3.552000e+15
52,Sun6165,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4.291280e+15
56,Sat8903,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,3.497940e+14
59,Sat8139,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.596450e+15
83,Thur8801,32.68,5.00,Male,Yes,Thur,Lunch,2,16.34,Daniel Murphy,5.356180e+15
85,Thur7972,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15
88,Thur9003,24.71,5.85,Male,No,Thur,Lunch,2,12.36,Roger Taylor,4.410250e+12
95,Fri9628,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,1.800270e+14
102,Sat6240,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,3.797710e+14
112,Sun591,38.07,4.00,Male,No,Sun,Dinner,3,12.69,Jeff Lopez,3.572870e+15
116,Sun22,29.93,5.07,Male,No,Sun,Dinner,4,7.48,Shawn Blake,4.689080e+15
141,Thur1025,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3.526520e+15
142,Thur3621,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4.356530e+15
155,Sun9176,29.85,5.14,Female,No,Sun,Dinner,5,5.97,Madison Wilson,4.210880e+15
156,Sun7518,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3.523150e+15
167,Sun3719,31.71,4.50,Male,No,Sun,Dinner,4,7.93,Michael Lawson,3.566290e+15
170,Sat1954,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.473850e+15
172,Sun9209,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,Larry White,3.043260e+13
173,Sun9335,31.85,3.18,Male,Yes,Sun,Dinner,2,15.92,Scott Perez,3.577120e+15
175,Sun5109,32.90,3.11,Male,Yes,Sun,Dinner,2,16.45,Nathan Reynolds,3.703070e+14
179,Sun9851,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,Brian Bailey,3.466560e+14
180,Sun7544,34.65,3.68,Male,Yes,Sun,Dinner,4,8.66,James Hebert DDS,6.761690e+11
181,Sun3402,23.33,5.65,Male,Yes,Sun,Dinner,2,11.66,Jason Cox,6.556930e+15
182,Sun2337,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4.112210e+15
183,Sun6059,23.17,6.50,Male,Yes,Sun,Dinner,4,5.79,Dr. Michael James,4.718500e+12
184,Sun5140,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3.547800e+15
187,Sun9987,30.46,2.00,Male,Yes,Sun,Dinner,5,6.09,David Barrett,4.792880e+15
197,Thur9313,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5.544900e+15
207,Sat4505,38.73,3.00,Male,Yes,Sat,Dinner,4,9.68,Ricky Ramirez,3.478180e+14
210,Sat8361,30.06,2.00,Male,Yes,Sat,Dinner,3,10.02,Shawn Mendoza,3.018400e+13
211,Sat6735,25.89,5.16,Male,Yes,Sat,Dinner,4,6.47,Christopher Li,6.011960e+15
212,Sat4590,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.762190e+11
214,Sat3374,28.17,6.50,Female,Yes,Sat,Dinner,3,9.39,Marissa Jackson,4.922300e+15
219,Sat8863,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,Shelby House,5.020970e+11
237,Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.284720e+15
238,Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11
239,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15

In [107]:
#Condition IS IN OPERATOR
options = ['Sat', 'Sun']
df['day'].isin(options)

0       True
1       True
2       True
3       True
4       True
       ...
239     True
240     True
241     True
242     True
243    False
Name: day, Length: 244, dtype: bool

In [108]:
df[df['day'].isin(['Sat', 'Sun'])]

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15
...,...,...,...,...,...,...,...,...,...,...,...
238,Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11
239,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15
240,Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15
241,Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15
242,Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12

In [110]:
# sort values
print(df.sort_values('tip'))

    Payment ID  total_bill    tip  gender smoker   day    time  size  \
67     Sat3455        3.07   1.00  Female    Yes   Sat  Dinner     1
236    Sat5032       12.60   1.00    Male    Yes   Sat  Dinner     2
92     Fri3780        5.75   1.00  Female    Yes   Fri  Dinner     2
111    Sat4801        7.25   1.00  Female     No   Sat  Dinner     1
0      Sun2959       16.99   1.01  Female     No   Sun  Dinner     2
..         ...         ...    ...     ...    ...   ...     ...   ...
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3

     price_per_person          Payer Name     CC Number
67               3.07       Tiffany Brock  4.359490e+15
236              6.30       Matthew Myers  3.543680e+15
92               2.88        Leah Ramirez  3.508910e+15
111              7.25         Terri Jones  3.559220e+15
0                8.49  Christy Cunningham  3.560330e+15
..                ...                 ...           ...
141              5.72      Steven Carlson  3.526520e+15
59              12.07         Brian Ortiz  6.596450e+15
23               9.86      Lance Peterson  3.542580e+15
212             12.08     Alex Williamson  6.762190e+11
170             16.94       Gregory Clark  5.473850e+15

[244 rows x 11 columns]

In [111]:
# corelation
print(df[['total_bill','tip']].corr())

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [112]:
# id min and id max
print(df['total_bill'].max())
print(df['total_bill'].idxmax())
print(df['total_bill'].min())
print(df['total_bill'].idxmin())

50.81
170
3.07
67

In [113]:
df.iloc[67]

Payment ID                     Sat3455
total_bill                        3.07
tip                                1.0
gender                          Female
smoker                             Yes
day                                Sat
time                            Dinner
size                                 1
price_per_person                  3.07
Payer Name               Tiffany Brock
CC Number           4359490000000000.0
Name: 67, dtype: object

In [114]:
df.iloc[170]

Payment ID                     Sat1954
total_bill                       50.81
tip                               10.0
gender                            Male
smoker                             Yes
day                                Sat
time                            Dinner
size                                 3
price_per_person                 16.94
Payer Name               Gregory Clark
CC Number           5473850000000000.0
Name: 170, dtype: object

In [117]:
# value counts - get count on categorical columns
print(df['smoker'].value_counts() )        #smokers and non smokers
print(df['gender'].value_counts())        #males ad females

smoker
No     151
Yes     93
Name: count, dtype: int64
gender
Male      157
Female     87
Name: count, dtype: int64

In [119]:
# unique
print(df['size'].unique())         # all unique values as an array
print(df['size'].nunique())          # no. of unique values
print(df['time'].unique())         #char column

[2 3 4 1 6 5]
6
['Dinner' 'Lunch']

In [125]:
# between option sfor inclusive are both left ,right, niether
print(df['total_bill'].between(10,20,inclusive='both'))         #true/false
print(df[df['total_bill'].between(10,20,inclusive='both')])      # this gives actual data

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool
    Payment ID  total_bill   tip  gender smoker   day    time  size  \
0      Sun2959       16.99  1.01  Female     No   Sun  Dinner     2
1      Sun4608       10.34  1.66    Male     No   Sun  Dinner     3
8      Sun6820       15.04  1.96    Male     No   Sun  Dinner     2
9      Sun3775       14.78  3.23    Male     No   Sun  Dinner     2
10     Sun2546       10.27  1.71    Male     No   Sun  Dinner     2
..         ...         ...   ...     ...    ...   ...     ...   ...
234    Sat7220       15.53  3.00    Male    Yes   Sat  Dinner     2
235    Sat4615       10.07  1.25    Male     No   Sat  Dinner     2
236    Sat5032       12.60  1.00    Male    Yes   Sat  Dinner     2
242      Sat17       17.82  1.75    Male     No   Sat  Dinner     2
243    Thur672       18.78  3.00  Female     No  Thur  Dinner     2

     price_per_person          Payer Name     CC Number
0                8.49  Christy Cunningham  3.560330e+15
1                3.45      Douglas Tucker  4.478070e+15
8                7.52     Joseph Mcdonald  3.522870e+15
9                7.39       Jerome Abbott  3.532120e+15
10               5.14       William Riley  5.662880e+11
..                ...                 ...           ...
234              7.76       Tracy Douglas  4.097940e+15
235              5.04       Sean Gonzalez  3.534020e+15
236              6.30       Matthew Myers  3.543680e+15
242              8.91        Dennis Dixon  4.375220e+12
243              9.39     Michelle Hardin  3.511450e+15

[130 rows x 11 columns]

In [122]:
# sample data , randomly selected
df.sample(5)              #only five rows

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
169,Sat1788,10.63,2.00,Female,Yes,Sat,Dinner,2,5.32,Amy Hill,3.536330e+15
161,Sun5879,12.66,2.50,Male,No,Sun,Dinner,2,6.33,Brandon Oconnor,4.406880e+15
69,Sat855,15.01,2.09,Male,Yes,Sat,Dinner,2,7.50,Adam Hall,4.700920e+15
222,Fri6624,8.58,1.92,Male,Yes,Fri,Lunch,1,8.58,Jason Lawrence,3.505300e+15
93,Fri6963,16.32,4.30,Female,Yes,Fri,Dinner,2,8.16,Natalie Nguyen,5.181240e+15

In [123]:
df.sample(frac = 0.1)          #10% of the data

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
32,Sat1327,15.06,3.00,Female,No,Sat,Dinner,2,7.53,Amanda Wilson,2.131860e+14
215,Sat6983,12.90,1.10,Female,Yes,Sat,Dinner,2,6.45,Jessica Owen,4.726900e+12
213,Sat1374,13.27,2.50,Female,Yes,Sat,Dinner,2,6.64,Robin Andersen,5.801410e+11
106,Sat7865,20.49,4.06,Male,Yes,Sat,Dinner,2,10.24,Karl Mcdaniel,1.800240e+14
143,Thur6179,27.05,5.00,Female,No,Thur,Lunch,6,4.51,Regina Jones,4.311050e+12
98,Fri144,21.01,3.00,Male,Yes,Fri,Dinner,2,10.50,Michael Li,4.831800e+15
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15
34,Sat8124,17.78,3.27,Male,No,Sat,Dinner,2,8.89,Jacob Castillo,3.551490e+15
18,Sun2789,16.97,3.50,Female,No,Sun,Dinner,3,5.66,Laura Martinez,3.042230e+13
138,Thur2710,16.00,2.00,Male,Yes,Thur,Lunch,2,8.00,Jason Burgess,3.561460e+15
127,Thur1512,14.52,2.00,Female,No,Thur,Lunch,2,7.26,Jessica Simmons,2.131020e+14
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15
182,Sun2337,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4.112210e+15
219,Sat8863,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,Shelby House,5.020970e+11
201,Thur2544,12.74,2.01,Female,Yes,Thur,Lunch,2,6.37,Abigail Parks,3.586650e+15
39,Sat6373,31.27,5.00,Male,No,Sat,Dinner,3,10.42,Mr. Brandon Berry,6.011530e+15
123,Thur1992,15.95,2.00,Male,No,Thur,Lunch,2,7.98,Christopher Lang,4.820630e+15
58,Sat6683,11.24,1.76,Male,Yes,Sat,Dinner,2,5.62,Troy Guerrero,3.560780e+15
62,Sat2265,11.02,1.98,Male,Yes,Sat,Dinner,2,5.51,Joseph Hart,1.800460e+14
161,Sun5879,12.66,2.50,Male,No,Sun,Dinner,2,6.33,Brandon Oconnor,4.406880e+15
177,Sun6203,14.48,2.00,Male,Yes,Sun,Dinner,2,7.24,John Dudley,4.565180e+15
190,Sun5104,15.69,1.50,Male,Yes,Sun,Dinner,2,7.84,Riley Barnes,1.800540e+14
225,Fri6665,16.27,2.50,Female,Yes,Fri,Lunch,2,8.14,Whitney Arnold,3.579110e+15
111,Sat4801,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3.559220e+15

In [124]:
# nlargest  and nsmallest
print(df.nlargest(10, 'tip'))
print(df.nsmallest(10, 'tip'))

    Payment ID  total_bill    tip  gender smoker   day    time  size  \
170    Sat1954       50.81  10.00    Male    Yes   Sat  Dinner     3
212    Sat4590       48.33   9.00    Male     No   Sat  Dinner     4
23      Sat239       39.42   7.58    Male     No   Sat  Dinner     4
59     Sat8139       48.27   6.73    Male     No   Sat  Dinner     4
141   Thur1025       34.30   6.70    Male     No  Thur   Lunch     6
183    Sun6059       23.17   6.50    Male    Yes   Sun  Dinner     4
214    Sat3374       28.17   6.50  Female    Yes   Sat  Dinner     3
47     Sun9677       32.40   6.00    Male     No   Sun  Dinner     4
239    Sat2657       29.03   5.92    Male     No   Sat  Dinner     3
88    Thur9003       24.71   5.85    Male     No  Thur   Lunch     2

     price_per_person         Payer Name     CC Number
170             16.94      Gregory Clark  5.473850e+15
212             12.08    Alex Williamson  6.762190e+11
23               9.86     Lance Peterson  3.542580e+15
59              12.07        Brian Ortiz  6.596450e+15
141              5.72     Steven Carlson  3.526520e+15
183              5.79  Dr. Michael James  4.718500e+12
214              9.39    Marissa Jackson  4.922300e+15
47               8.10       James Barnes  3.552000e+15
239              9.68      Michael Avila  5.296070e+15
88              12.36       Roger Taylor  4.410250e+12
    Payment ID  total_bill   tip  gender smoker   day    time  size  \
67     Sat3455        3.07  1.00  Female    Yes   Sat  Dinner     1
92     Fri3780        5.75  1.00  Female    Yes   Fri  Dinner     2
111    Sat4801        7.25  1.00  Female     No   Sat  Dinner     1
236    Sat5032       12.60  1.00    Male    Yes   Sat  Dinner     2
0      Sun2959       16.99  1.01  Female     No   Sun  Dinner     2
215    Sat6983       12.90  1.10  Female    Yes   Sat  Dinner     2
237    Sat2929       32.83  1.17    Male    Yes   Sat  Dinner     2
75     Sat5056       10.51  1.25    Male     No   Sat  Dinner     2
135   Thur6600        8.51  1.25  Female     No  Thur   Lunch     2
235    Sat4615       10.07  1.25    Male     No   Sat  Dinner     2

     price_per_person          Payer Name     CC Number
67               3.07       Tiffany Brock  4.359490e+15
92               2.88        Leah Ramirez  3.508910e+15
111              7.25         Terri Jones  3.559220e+15
236              6.30       Matthew Myers  3.543680e+15
0                8.49  Christy Cunningham  3.560330e+15
215              6.45        Jessica Owen  4.726900e+12
237             16.42        Thomas Brown  4.284720e+15
75               5.26       Kenneth Hayes  2.131420e+14
135              4.26      Rebecca Harris  4.320270e+15
235              5.04       Sean Gonzalez  3.534020e+15

In [ ]:
# Group by functionality :
# 1. Splitting : the data is first split into groups based on the criteria provided
# 2.Applying : function is applied to each group inddependently
# 3.Combining : the result of the function is combined and returned into a new dataframe

In [126]:
# Spliting first step
df_grouped = df.groupby('gender')

In [127]:
#output will not have any visible impact except for
print(df_grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fb29350d2a0>

In [129]:
# 2. Applyibng
maean_tip_by_gender = df_grouped['tip'].mean()
print(maean_tip_by_gender)

print(df_grouped['tip'].min())
print(df_grouped['tip'].max())
print(df_grouped['tip'].std())
print(df_grouped['tip'].count())
print(df_grouped['tip'].median())
print(df_grouped['tip'].sum())
print(df_grouped['tip'].var())

gender
Female    2.833448
Male      3.089618
Name: tip, dtype: float64
gender
Female    1.0
Male      1.0
Name: tip, dtype: float64
gender
Female     6.5
Male      10.0
Name: tip, dtype: float64
gender
Female    1.159495
Male      1.489102
Name: tip, dtype: float64
gender
Female     87
Male      157
Name: tip, dtype: int64
gender
Female    2.75
Male      3.00
Name: tip, dtype: float64
gender
Female    246.51
Male      485.07
Name: tip, dtype: float64
gender
Female    1.344428
Male      2.217424
Name: tip, dtype: float64

In [131]:
#  creating group on multiple columns
df_grouped = df.groupby(['gender', 'day'])
print(df_grouped['tip'].mean())

gender  day
Female  Fri     2.781111
        Sat     2.801786
        Sun     3.367222
        Thur    2.575625
Male    Fri     2.693000
        Sat     3.083898
        Sun     3.220345
        Thur    2.980333
Name: tip, dtype: float64

In [140]:
# agg function
#Apply multiple agg functioin to different columns when grouping data
#Calculate both the sum and the index of the "tip" column for each combination of
#'Gender' & 'day'

# Group the df by both 'gender' & 'day' and calculate the mean and sum of 'tip' for
# each combination
df_grouped = df.groupby(['gender', 'day']).agg({'tip': ['mean', 'sum']}).reset_index()
print(df_grouped)

   gender   day       tip
                     mean     sum
0  Female   Fri  2.781111   25.03
1  Female   Sat  2.801786   78.45
2  Female   Sun  3.367222   60.61
3  Female  Thur  2.575625   82.42
4    Male   Fri  2.693000   26.93
5    Male   Sat  3.083898  181.95
6    Male   Sun  3.220345  186.78
7    Male  Thur  2.980333   89.41

In [137]:
# df_grouped = df.groupby(['gender', 'day']).agg({'tip': ['mean', 'sum']})
# print(df_grouped)

                  tip
                 mean     sum
gender day
Female Fri   2.781111   25.03
       Sat   2.801786   78.45
       Sun   3.367222   60.61
       Thur  2.575625   82.42
Male   Fri   2.693000   26.93
       Sat   3.083898  181.95
       Sun   3.220345  186.78
       Thur  2.980333   89.41

In [141]:
#  Rename the column for clarity
df_grouped.columns = ['gender', 'day', 'mean_tip', 'sum_tip']
print(df_grouped)

   gender   day  mean_tip  sum_tip
0  Female   Fri  2.781111    25.03
1  Female   Sat  2.801786    78.45
2  Female   Sun  3.367222    60.61
3  Female  Thur  2.575625    82.42
4    Male   Fri  2.693000    26.93
5    Male   Sat  3.083898   181.95
6    Male   Sun  3.220345   186.78
7    Male  Thur  2.980333    89.41

**<H1>HANDLING AIR BNB DATASET</H1>
** **bold text**

In [67]:
#Another index Example- Air BNB dataset from kaggle
#Default index
df_airbnb = pd.read_csv('/content/AB_NYC_2019.csv')
df_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [68]:
# make id column thr index
df2 = df_airbnb.set_index('id')
df2.head(3)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [69]:
df2.name[3647] #get the name for id
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   level_0           244 non-null    int64
 1   index             244 non-null    int64
 2   Payment ID        244 non-null    object
 3   total_bill        244 non-null    float64
 4   tip               244 non-null    float64
 5   gender            244 non-null    object
 6   smoker            244 non-null    object
 7   day               244 non-null    object
 8   time              244 non-null    object
 9   size              244 non-null    int64
 10  price_per_person  244 non-null    float64
 11  Payer Name        244 non-null    object
 12  CC Number         244 non-null    float64
dtypes: float64(4), int64(3), object(6)
memory usage: 24.9+ KB

In [70]:
# set pandas display option to display all column
numeric_columns = df2.select_dtypes(include=('int64', 'float64'))
#Include room type column in numeric columns DataFRame
numeric_columns['room_type'] = df2['room_type']
df3 = numeric_columns.groupby('room_type').mean()
print(df3)
pd.set_option('display.max_columns', None)
df3.head()

                      host_id   latitude  longitude       price  \
room_type
Entire home/apt  6.175593e+07  40.728649 -73.960696  211.794246
Private room     7.247514e+07  40.729208 -73.942924   89.780973
Shared room      1.026241e+08  40.730514 -73.943343   70.127586

                 minimum_nights  number_of_reviews  reviews_per_month  \
room_type
Entire home/apt        8.506907          22.842418           1.306578
Private room           5.377900          24.112962           1.445209
Shared room            6.475000          16.600000           1.471726

                 calculated_host_listings_count  availability_365
room_type
Entire home/apt                       10.698335        111.920304
Private room                           3.227717        111.203933
Shared room                            4.662931        162.000862

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,
Entire home/apt,6.175593e+07,40.728649,-73.960696,211.794246,8.506907,22.842418,1.306578,10.698335,111.920304
Private room,7.247514e+07,40.729208,-73.942924,89.780973,5.377900,24.112962,1.445209,3.227717,111.203933
Shared room,1.026241e+08,40.730514,-73.943343,70.127586,6.475000,16.600000,1.471726,4.662931,162.000862

In [49]:
df3.index

Index(['Entire home/apt', 'Private room', 'Shared room'], dtype='object', name='room_type')

In [71]:
#Note that room type has become a index - we can again assign it back to a normal column
df3 = df3.reset_index()
df3.head()

,room_type,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Entire home/apt,6.175593e+07,40.728649,-73.960696,211.794246,8.506907,22.842418,1.306578,10.698335,111.920304
1,Private room,7.247514e+07,40.729208,-73.942924,89.780973,5.377900,24.112962,1.445209,3.227717,111.203933
2,Shared room,1.026241e+08,40.730514,-73.943343,70.127586,6.475000,16.600000,1.471726,4.662931,162.000862

In [72]:
#ROWS
#Get a single row
#Integer Based
df.iloc[0]

level_0                              0
index                                0
Payment ID                     Sun2959
total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Name: 0, dtype: object

In [73]:
#Name Based
#First set the index to the column which will be used in locating the row
df_airbnb = df_airbnb.set_index('host_name')
df_airbnb.loc['John']

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
John,2539,Clean & quiet apt home by the park,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
John,148201,NYC - Sunny Greenwich Village 1br,715807,Manhattan,Greenwich Village,40.72831,-74.00177,Entire home/apt,175,3,18,2013-05-31,0.19,1,0
John,234870,Private Room With GREAT Location,1229984,Queens,Long Island City,40.74581,-73.95295,Private room,75,30,65,2017-07-31,0.74,3,219
John,400039,Big Beautiful Railroad in Brooklyn,1488809,Brooklyn,Bushwick,40.70339,-73.92945,Entire home/apt,130,30,53,2017-06-30,0.68,1,0
John,484297,Large home in most desirable Brooklyn hood!,2397411,Brooklyn,Clinton Hill,40.68545,-73.96534,Entire home/apt,350,4,10,2018-09-12,0.12,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
John,35836317,Gorgeous Duplex 2BED/1.5BA Modern,269242923,Manhattan,Kips Bay,40.74490,-73.97888,Entire home/apt,288,5,2,2019-06-30,2.00,1,74
John,35871036,Huge 1 bedroom w/ a backyard near the heart of...,226414996,Queens,Ditmars Steinway,40.77170,-73.90799,Entire home/apt,90,3,0,NaN,NaN,2,21
John,35984474,Perfect Weekend Stay,229739739,Brooklyn,Flatbush,40.64726,-73.95455,Private room,85,14,0,NaN,NaN,2,176
John,36140542,Wonderful Summer Vacation Getaways For Weeken...,229739739,Brooklyn,Flatbush,40.64600,-73.95455,Private room,85,7,0,NaN,NaN,2,176
John,36391615,Hidden gem! Cozy home in heart of Lower East Side,70653354,Manhattan,Lower East Side,40.72013,-73.98769,Entire home/apt,235,1,0,NaN,NaN,1,349

In [75]:
df_airbnb.head()
df_airbnb = df_airbnb.drop('John', axis = 0)
df_airbnb.head()

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Jennifer,2595,Skylit Midtown Castle,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
Elisabeth,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
LisaRoxanne,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
Laura,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
Chris,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48601 entries, Jennifer to Christophe
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48601 non-null  int64
 1   name                            48585 non-null  object
 2   host_id                         48601 non-null  int64
 3   neighbourhood_group             48601 non-null  object
 4   neighbourhood                   48601 non-null  object
 5   latitude                        48601 non-null  float64
 6   longitude                       48601 non-null  float64
 7   room_type                       48601 non-null  object
 8   price                           48601 non-null  int64
 9   minimum_nights                  48601 non-null  int64
 10  number_of_reviews               48601 non-null  int64
 11  last_review                     38593 non-null  object
 12  reviews_per_month               38593 non-null  float64
 13  calculated_host_listings_count  48601 non-null  int64
 14  availability_365                48601 non-null  int64
dtypes: float64(3), int64(7), object(5)
memory usage: 6.9+ MB